/* Source: https://daneden.me/animate/ */
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
.anim-pulse {
    -webkit-animation: pulse 2s infinite;
}
