pre.commit-info {
    border: 1px solid #333;
    background: #222;
    color: white;
    padding: 5px;
}

.git-keyword {
    font-weight: bold;
}

.git-tree   { color: #FFE3C2; }
.git-commit { color: #D8AFFF; }
.git-parent { color: #E89494; }
.git-author { color: #94BEE8; }
.git-committer { color: #A2FFCD; }
