.app-title {
    margin-bottom: 0;
}
.app-status {
    font-style: italic;
    margin-bottom: 10px;
}
.app-link + .icon-right {
    display: none;
}
.app-link:hover + .icon-right {
    display: inline-block;
}
/** Tabbed app info **/
.tabs {
    margin: 0 0 30px;
}
.tabs:after {
    display: table;
    content: '';
    clear: both;
}
@media (max-width: 640px) {
    .tabs {
        margin: 0 -8px 30px;
    }
}

.tabs .tab {
    display: inline;
    position: relative;
}
.tab label, .tab a {
    position: relative;
    display: inline-block;
    padding: 10px;

    background: #fff;
    cursor: pointer;
}
.tab label:hover, .tab a:hover {
    background: #eee;
    border-bottom: 1px solid #eee;
}
.tab [type=radio] {
    position: absolute;
    opacity: 0;
}
.tabs .tab-panel {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}
.tabs .tab-content {
    display: block;
    float: left;
    width: 100%;

    border: 1px solid #222;
    padding: 10px;

    color: #fff;
    background: #222;
    min-height: 127px;
}
.tabs .tab [type="radio"]:checked + label {
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;

    background: #222;
    color: #fff;
    text-decoration: none;
}
.tabs .tab [type="radio"]:checked + label + .tab-panel {
    display: inline;
}
.tab-content pre {
    overflow-x: auto;
    margin: 0;
    padding: 0;
    background: #222;
    color: white;
}


/** Commit **/
.git-keyword {
    font-weight: bold;
}

.git-tree   { color: #FFE3C2; }
.git-commit { color: #D8AFFF; }
.git-parent { color: #E89494; }
.git-author { color: #94BEE8; }
.git-committer { color: #A2FFCD; }
