.container {
    width: 50%;
    min-width: 500px;
    float: left;
}
/** Modal **/
.modal-bg {
    display: none;
    position: fixed;
    background: rgba(0,0,0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: absolute;
    width: 1000px;
    top: 20px;
    bottom: 20px;
    left: 50%;
    margin-left: -500px;
    padding: 10px;
    overflow: auto;
    background: whitesmoke;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.modal-close {
    position: absolute;
    right: 5px;
    top: 10px;
}

/** Keys **/
.list-key-item:hover .icon-key {
    color: #f00;
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
}
.list-key-item:hover .icon-key:after {
    content: '\2716';
}
.list-key-item:hover {
    cursor: pointer;
    text-decoration: line-through;
}

/** Form elements **/
textarea {
    display: block;
    min-width: 35em;
    min-height: 4em;
}

/** Lists and tables **/
.list-group {
    list-style: none;
    padding: 0;
}
.striped {
    padding: 5px;
}
.striped:nth-child(2n+1) {
    background: whitesmoke;
}
