html {
    font-size: 100%;
}
body {
    margin: 0;
}
/** Container **/
.container {
    padding: 8px 8px;
}
@media (min-width: 950px) {
    body {
        background: whitesmoke;
    }
    .container {
        width: 970px;
        margin: 0 auto;
        background: #fff;
    }
}

/** Form elements **/
textarea {
    display: block;
    width: 100%;
    min-height: 4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/** Lists **/
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 0.8rem 8px;
}

@media (max-width: 640px) {
    ul {
        margin: 16px -8px;
    }
}