.container {
    width: 50%;
    min-width: 500px;
    float: left;
}

/** Form elements **/
textarea {
    display: block;
    min-width: 35em;
    min-height: 4em;
}

/** Lists and tables **/
.list-group {
    list-style: none;
    padding: 0;
}
.striped {
    padding: 5px;
}
.striped:nth-child(2n+1) {
    background: whitesmoke;
}
