/* Source of unicodes: http://copypastecharacter.com/ */
[class*="icon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-sun {
    color: #ffad00;
}
.icon-sun:after {
    content: '\2600';
}
.icon-rain {
    color: #222;
}
.icon-rain:after {
    content: '\2614';
}
.icon-key {
    color: #222;
    -webkit-transform: rotate(90deg) translatex(4px);
       -moz-transform: rotate(90deg) translatex(4px);
            transform: rotate(90deg) translatex(4px);
    vertical-align: top;
}
.icon-key:after {
    content: '\26B7 ';
}
.icon-remove {
    color: #f00;
}
.icon-remove:after {
    content: '\2716';
}
.icon-right {
    display: none;
}
.icon-right:after {
    content: '\2192';
}
