/* Source of unicodes: http://copypastecharacter.com/ */
[class*="icon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-sun {
    color: #ffad00;
}
.icon-sun:after {
    content: '\2600';
}
.icon-rain {
    color: #222;
}
.icon-rain:after {
    content: '\2614';
}
.icon-key {
    color: #222;
    -webkit-transform: rotate(90deg) translatex(4px);
}
.icon-key:after {
    content: '\26B7';
}