/* Source of unicodes: http://copypastecharacter.com/ */
[class^="icon-"] {
    display: inline-block;
}

.icon-sun {
    color: #ffad00;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.icon-sun:after {
    content: '\2600';
}

