.list-key-item:first-child {
    border-top: 1px solid #ccc;
}
.list-key-item {
    border-bottom: 1px solid #ccc;
}
.list-key-item:hover {
    cursor: pointer;
    background: whitesmoke;
}

.key-fingerprint, .key-comment {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 44%;
    vertical-align: middle;
}
@media (min-width: 730px) {
    .key-fingerprint, .key-comment {
        width: auto;
    }
}